body {
    background-image: url("images/station1.webp");
    background-size: cover;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Ubuntu, Roboto, BlinkMacSystemFont, 'Segoe UI', Oxygen, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-weight: bold;
    text-align: center;
    color: white;;
    text-shadow: 0 0 1px red;
}

h1 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 40px;
    text-shadow: 0 0 8px black;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 0 0 8px black;
}

button {
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 250px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 12px 0 0 black;
}

button:active {
    transform: translateY(8px);    
    box-shadow: 0 8px 0 0 black;   
}

#increment-btn {
    background: darkred;
    margin-right: 10px;
}

#save-btn {
    background: darkgreen;
    margin-left: 10px;
}

#save-el {
    text-shadow: 0 0 8px black;
    font-size: 30px;
}

#p-counter {
    max-width: 80%;
    height: 500px;
    border-radius: 50px;
    padding: 5px 0 10px 0;
    margin: 100px auto 0 auto;
    background: #273f52;
}